!!! 5
%html{:lang => "pt-br"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "keywords", :content => "desenvolvedor front-end, dev santos, websites, desenvolvedor de interfaces, xhtml, html5, css3, jquery, SEO, webstandards, sass, compass, ruby, rails, sinatra, haml, heroku"}
    %meta{:name => "description", :content => "Desenvolvedor front-end desde 2010, mora em Santos, formado em Análise de Sistemas. Habilidades com xHTML, HTML5, CSS3, jQuery, SEO, Webstandards"}
    %link{:href => "/favicon.png", :rel => "shortcut icon"}

    %title Thiago Gonzalez - Desenvolvedor Frontend  

    %link{:rel => "stylesheet", :href => "/style.css", :type => "text/css"}  

    %script{:src => "javascripts/jquery.js"}
    %script{:src => "javascripts/main.js"}
  
    /[if lt IE 9]
      %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}

  %body
    %section#content 

      %aside#sidebar 
        %h1 
          %a{:href => '#'}
            Thiago Gonzalez
            %span Desenvolvedor front-end

        %nav#nav 
          %ul
            %li
              %a{:href => "/"} Portfolio
            %li 
              %a{:href => "/blog/"} Blog
            %li 
              %a{:href => "/sobre/"} Sobre

        %ul#social
          %li 
            %a{:href => "https://facebook.com/thigonzalez"} Facebook
          %li 
            %a{:href => "http://linkedin.com/thiagonzalez"} LinkedIn
          %li 
            %a{:href => "mailto:contato@thiagogonzalez.com"} Email

        #knowledge 
          %h3 Conhecimentos

          %ul
            %li{:'data-size' => '95', :'data-name' => 'HTML 5'}  
            %li{:'data-size' => '95', :'data-name' => 'CSS 3'}
            %li{:'data-size' => '80', :'data-name' => 'Responsive'}
            %li{:'data-size' => '60', :'data-name' => 'Facebook Apps'} 
            %li{:'data-size' => '80', :'data-name' => 'SEO'} 
            %li{:'data-size' => '80', :'data-name' => 'jQuery'} 
            %li{:'data-size' => '60', :'data-name' => 'HAML'} 
            %li{:'data-size' => '60', :'data-name' => 'Compass (SASS)'}
            %li{:'data-size' => '25', :'data-name' => 'Ruby'} 
            %li{:'data-size' => '45', :'data-name' => 'Sinatra'} 
            %li{:'data-size' => '25', :'data-name' => 'Rails'}
            %li{:'data-size' => '95', :'data-name' => 'Wordpress'} 

      #wrap
        %h2 Portfolio
        %form#filter{:action => "#", :method => "get"}
          %select
            %option{:value =>""} Filtrar por
            %option{:value =>"HTML 5"} HTML 5
            %option{:value =>"SASS"} SASS
            %option{:value =>"Ruby"} Ruby

        #projects

          - for i in (1..10) do
            %article 
              %a{:href => "#"}
                %img{:src => "http://placehold.it/150x150/000", :alt => "Project", :class => "photo"}

                .desc
                  %h5 
                    %a{:href => "#"} Ib8 Tecnologia Website
                  %h6 Tecnologias
                  %span
                    %strong HTML5
                    ,
                    %strong SASS
                    ,
                    %strong Responsive
                  
                  %h6 Cliente
                  %span Ib8 Tecnologia
                  
                  %h6 Ano
                  %span 2012
                      


