!!! 5
%html{:lang => "pt"}
	%head
		%meta{:charset => "utf-8"}
		%meta{:name => "keywords", :content => ""}
		%meta{:name => "description", :content => ""}
		%link{:href => "/favicon.png", :rel => "shortcut icon"}

		%title Thiago Gonzalez - Desenvolvedor Frontend  

		/ CSS
		%link{:rel => "stylesheet", :href => "/stylesheets/style.css", :type => "text/css"}  
		
		/ Javascript
		%script{:src => '#'}

		/[if lt IE 9]
			%script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}

			:plain
				<script></script>

	%body
		%h1 teste!